<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  
         <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
</head>
<body>

    <div class="z-depth-4 row">
        <div class="card col s12">
            <h4 class="center">Bellow Referral has been closed!</h4>
            <div>
                    <ul class="collection with-header">
                            <li style="text-transform:capitalize;" class="collection-header"><h4>${name} ${last_name}</h4></li>
                            <li class="collection-item">MON: ${mon}</li>
                            <li class="collection-item">Due Date: ${due_date}</li>
                            <li class="collection-item">Order Placed On: ${order_placed}</li>
                            <li class="collection-item">Package: ${package}</li>
                            <li class="collection-item">Address: ${address.address}</li>
                            <li class="collection-item">City: ${address.apt}</li>
                            <li class="collection-item">Phone: ${phone}</li>
                            <li class="collection-item">Email: ${emaile}</li>
                            <li class="collection-item">Move In: ${moveIn}</li>
                            <li class="collection-item">Referral By: ${referralBy}</li>

                          </ul>
                        <div class="z-depth-3 amber lighten-4">
                            <h4>Notes or Comments</h4>
                          <i>${comment}</i>
                        </div>

            </div>
        </div>
    </div>
    
</body>
</html>