</head>
<body>
  <nav id="nav" class="black" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo white-text">Fios</a>
      <ul class="right hide-on-med-and-down">
        <li class="<%= path === 'home' ? 'active' : '' %>"><a href="/">Home</a></li>
        <li class="<%= path === 'referrals' ? 'active' : '' %>"><a href="/referrals">My Referrals</a></li>
        <li class="<%= path === 'reports' ? 'active' : '' %>"><a href="/reports">My Reports</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav red lighten-4">
        <li class="active"><a  href="/">Home</a></li>
        <li><a href="/referrals">My Referrals</a></li>
        <li><a href="/reports">My Reports</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>