<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>


<h2 class="center teal lighten-3">New referral</h2>
<a class="btn waves-effect black waves-light" href="/add-referral">Add Referral</a>
<br>


<%- include('../partials/footer.ejs') %>